<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <eupago_cc>
                <active>1</active>
                <model>Eupago\Cc\Model\Cc</model>
                <order_status>pending_payment</order_status>
                <title>Cartão de crédito</title>
                <payment_action>order</payment_action>
                <sort_order>1</sort_order>
                <allowspecific>0</allowspecific>
                <is_gateway>1</is_gateway>
                <can_authorize>0</can_authorize>
                <can_capture>1</can_capture>
                <can_void>0</can_void>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>1</can_use_internal>
                <can_refund>0</can_refund>
                <can_order>1</can_order>
                <group>euPago</group>
            </eupago_cc>
        </payment>
		<sales>
			<order>
				<states>
					<pending_payment>
						<visible_on_front>1</visible_on_front>
					</pending_payment>
				</states>
			</order>
		</sales>
    </default>
</config>